@layer components {
	.page {
		/* Flex attributes */
		flex: 1 0 0;
		/* Layout/style */
		gap: 1rem;
		padding: 1rem;
	}

	.input-box {
		/* Layout/style */
		gap: 1rem;
	}

	.input-box > li {
		flex: 1 0 0;
		align-items: center;
		max-width: 20rem;
	}

	.input-entry-decoration {
		border: 0.1rem solid #d0d0d0;
		background-color: #f0f0f0;
		transition: opacity 0.5s;
		margin: 0.2rem;
	}

	.output-box-decoration {
		gap: 1rem;
		border: 0.1rem solid #e0e0e0;
		background-color: white;
	}

	.list-name {
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
	}
}