@layer defaults {
	body {
		background-color: rgb(196, 246, 255);
		width: 100%;
		height: 100vh;
		font-family: "Inter", sans-serif;
	}

	input, select, option, textarea, button {
		font-family: "Inter", sans-serif;
	}

	.title {
		font-size: 1.5rem;
		font-weight: bold;
		text-align: center;
		padding-bottom: 0.5rem;
	}

	.label {
		font-size: 1.25rem;
		text-align: center;
	}

	.smaller-label {
		font-size: 1rem;
		text-align: center;
	}

	.subtext {
		font-size: 1.25rem;
		font-style: italic;
		text-align: center;
	}

	.smaller-subtext {
		font-size: 1rem;
		font-style: italic;
		text-align: center;
	}

	sup {
		font-size: 50%;
		font-weight: normal;
		vertical-align: top;	
	}

	.narrow-rounded-box {
		padding: 0.5rem;
		border-radius: 1rem;
	}

	.rounded-box {
		padding: 1rem;
		border-radius: 1rem;
	}

	.about {
		padding: 1rem;
	}
}