@layer utilities {
	.hidden {
		display: none;
	}

	.hidden-but-keeps-space {
		visibility: hidden;
	}

	.translucent {
		opacity: 0.4;
		transition: opacity 0.5s;
	}

	.should-fade-in {
		animation: fadeIn 0.5s;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
			/* transform: translateY(-10px); */
		}
		to {
			opacity: 1;
			/* transform: translateY(0); */
		}
	}
}